# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
python_server/*/**/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
*.gguf
python_server/llm_models/phi-2.Q3_K_L.gguf
python_server/source_documents/dummy-pdf_2.pdf
python_server/source_documents/sample.pdf
python_server/db/chroma.sqlite3
python_server/params.json
